{( "header.html" )}
<article class="content">
    <span class="date muted">{{ created }}</span>
    {{ content }}
</article>
{% if #posts > 0 then %}
<div class="content also">
    <hr class="featurette-divider">
    <h6 class="also muted">Also read</h6>

    <ul class="blog-post-list unstyled">
    {% for date, ptitle in itersort(posts) do %}
    {% if ptitle ~= title then %}
        <li><span><a href="/{{ptitle}}">{{filename2title(ptitle)}}</a><small> {{ ngx.http_time(date) }}</span></a>
    {% end %}
    {% end %}
    </ul>
</div>
{% end %}

{( "footer.html" )}
