{
    "path": {
        "base_url": "/blog/",
        "blog": "blog/"
    },
    "blog": {
        "title": "site.com/blog/ - The Blag"
        "author": "Atom Feed Author",
        "url": "http://site.com/blog/"
    }
}
